{# new twig template file - hibbittsdesign.org #}
<a class="newwindow" href="{{ config.site.github.tree ~  ('/'~page.filePathClean)|replace({'/user/':''}) }}" title="Edit this Page on GitHub">
  <i class="fa fa-github"></i>
  Edit this Page</a>
